.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
}

.navbar a {
    color: black;
    font-size: 18px;
    text-decoration: none;
    margin-left: 50px;
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        display: none;
    }

    .navbar.active {
        display: block;
    }
}
